.DetailForm{
  padding: 0.5rem;

  button {
  margin: 4rem auto 0.5rem;
  display: block;
  }

  .Column{
    flex-direction: column;
    display: block;
  }
  p{
    margin: 0.3rem 0;
  }

  input[type="number"]{
    display: inline;
    margin: 0 0.5rem;
    width: 1.6rem;
    height: 0.7rem;
  }

  >:first-child{
    align-items: center;
    min-width: 300px;
    text-align: center;
  }

  .ContactFrequencyInput{
    flex-direction: row;
    margin-top: 0.5rem;

    div{
      flex-direction:row;
      justify-content: center;
    }

  }
  section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 360px;
    flex-wrap: wrap;

    div{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
  .notes{
    flex-direction: column;
  }
}
