.logo{
  background: midnightblue;
  color: white;
  height: 20px;
  width: 50px;
}

.Nav{
  background-color: salmon;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}


.Nav{
  background-color: salmon;
}
