.DetailForm{
  >:first-child{
    align-items: center;
    min-width: 300px;
    text-align: center;
  }
  .ContactFrequencyInput{
    flex-direction: column;
  }
  section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 360px;
    flex-wrap: wrap;

    div{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
  .notes{
    flex-direction: column;
  }
}
