.SettingsPage {
  display:flex;
  flex-direction: column;
  justify-content: center;
  h1{
    font-size: 2rem;
    margin: 1rem auto 0.75rem;
  }
  h2{
    font-size: 1.5rem;
    margin: 1rem auto 0.75rem;
  }
  p{margin: 0.25rem auto;}
  div {margin: 0 auto;}
  button {
    margin: 0.75rem auto;
  }
}
